In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('music.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'music.csv'

In [ ]:
data.head(2)

,Unnamed: 0,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
0,0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,95,0.000598,0.063746,0.000598,...,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.13711,sadness,1.0
1,4,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...,51,0.035537,0.096777,0.443435,...,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.26324,world/life,1.0

In [ ]:
data.loc[0]

Unnamed: 0                                                                  0
artist_name                                                            mukesh
track_name                                               mohabbat bhi jhoothi
release_date                                                             1950
genre                                                                     pop
lyrics                      hold time feel break feel untrue convince spea...
len                                                                        95
dating                                                               0.000598
violence                                                             0.063746
world/life                                                           0.000598
night/time                                                           0.000598
shake the audience                                                   0.000598
family/gospel                                                        0.048857
romantic                                                             0.017104
communication                                                        0.263751
obscene                                                              0.000598
music                                                                0.039288
movement/places                                                      0.000598
light/visual perceptions                                             0.000598
family/spiritual                                                     0.000598
like/girls                                                           0.000598
sadness                                                              0.380299
feelings                                                             0.117175
danceability                                                         0.357739
loudness                                                             0.454119
acousticness                                                         0.997992
instrumentalness                                                     0.901822
valence                                                              0.339448
energy                                                                0.13711
topic                                                                 sadness
age                                                                       1.0
Name: 0, dtype: object

In [ ]:
data = data[['artist_name','track_name','release_date','genre','lyrics','topic']]

In [ ]:
data.shape

(28372, 6)

In [ ]:
data.isnull().sum()

artist_name     0
track_name      0
release_date    0
genre           0
lyrics          0
topic           0
dtype: int64

In [ ]:
data.head()

,artist_name,track_name,release_date,genre,lyrics,topic
0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,sadness
1,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...,world/life
2,johnnie ray,cry,1950,pop,sweetheart send letter goodbye secret feel bet...,music
3,pérez prado,patricia,1950,pop,kiss lips want stroll charm mambo chacha merin...,romantic
4,giorgos papadopoulos,apopse eida oneiro,1950,pop,till darling till matter know till dream live ...,romantic

In [ ]:
data['topic'].value_counts()

sadness       6096
violence      5710
world/life    5420
obscene       4882
music         2303
night/time    1825
romantic      1524
feelings       612
Name: topic, dtype: int64

In [ ]:
data['artist_name']

0                      mukesh
1               frankie laine
2                 johnnie ray
3                 pérez prado
4        giorgos papadopoulos
                 ...
28367                 mack 10
28368                  m.o.p.
28369                    nine
28370              will smith
28371                   jeezy
Name: artist_name, Length: 28372, dtype: object

In [ ]:
data['artist_name']=data['artist_name'].apply(lambda x : x.replace(' ', ''))

In [ ]:
data.head(1)

,artist_name,track_name,release_date,genre,lyrics,topic
0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,sadness

In [ ]:
data['lyrics']=data['lyrics'].apply(lambda x : x.split())

In [ ]:
data.head(2)

,artist_name,track_name,release_date,genre,lyrics,topic
0,mukesh,mohabbat bhi jhoothi,1950,pop,"[hold, time, feel, break, feel, untrue, convin...",sadness
1,frankielaine,i believe,1950,pop,"[believe, drop, rain, fall, grow, believe, dar...",world/life

In [ ]:
data['release_date'].value_counts()

2017    660
2018    653
2015    617
2009    597
2012    588
       ...
1955    106
1952     60
1951     58
1950     51
1953     48
Name: release_date, Length: 70, dtype: int64

In [ ]:
def func(date) :
    if date < 2023 &  date > 2018 :
        return 'recent'
    elif date > 2014 :
        return 'somewhat'
    else: 
        return 'old'
    
data['ageSong']=data['release_date'].apply(func)

In [ ]:
data['ageSong']

0             old
1             old
2             old
3             old
4             old
           ...
28367    somewhat
28368    somewhat
28369    somewhat
28370    somewhat
28371    somewhat
Name: ageSong, Length: 28372, dtype: object

In [ ]:
data.pop('release_date')
data.head()

,artist_name,track_name,genre,lyrics,topic,ageSong
0,mukesh,mohabbat bhi jhoothi,pop,"[hold, time, feel, break, feel, untrue, convin...",sadness,old
1,frankielaine,i believe,pop,"[believe, drop, rain, fall, grow, believe, dar...",world/life,old
2,johnnieray,cry,pop,"[sweetheart, send, letter, goodbye, secret, fe...",music,old
3,pérezprado,patricia,pop,"[kiss, lips, want, stroll, charm, mambo, chach...",romantic,old
4,giorgospapadopoulos,apopse eida oneiro,pop,"[till, darling, till, matter, know, till, drea...",romantic,old

In [ ]:
data.tail()
data = data.drop_duplicates('track_name')

In [ ]:
data['lyrics']=data['lyrics'].apply(lambda x : " ".join(x))
data['lyrics']

0        hold time feel break feel untrue convince spea...
1        believe drop rain fall grow believe darkest ni...
2        sweetheart send letter goodbye secret feel bet...
3        kiss lips want stroll charm mambo chacha merin...
4        till darling till matter know till dream live ...
                               ...
28367    cause fuck leave scar tick tock clock come kno...
28368    minks things chain ring braclets yap fame come...
28369    get ban get ban stick crack relax plan attack ...
28370    check check yeah yeah hear thing call switch g...
28371    remix killer alive remix thriller trap bitch s...
Name: lyrics, Length: 23689, dtype: object

In [ ]:
import nltk
from nltk.corpus import stopwords
stop_words= set(stopwords.words('english'))

In [ ]:
def stop(sentence) :
    new = []
    words = sentence.split()
    for word in words :
        if word not in stop_words :
            new.append(word)
    return " ".join(new)
stop('is it working')

'working'

In [ ]:
data['lyrics'] = data['lyrics'].apply(stop)

In [ ]:
data.head(5)

,artist_name,track_name,genre,lyrics,topic,ageSong
0,mukesh,mohabbat bhi jhoothi,pop,hold time feel break feel untrue convince spea...,sadness,old
1,frankielaine,i believe,pop,believe drop rain fall grow believe darkest ni...,world/life,old
2,johnnieray,cry,pop,sweetheart send letter goodbye secret feel bet...,music,old
3,pérezprado,patricia,pop,kiss lips want stroll charm mambo chacha merin...,romantic,old
4,giorgospapadopoulos,apopse eida oneiro,pop,till darling till matter know till dream live ...,romantic,old

In [ ]:
data['tags'] = data['artist_name'] +" " + data['lyrics'] + " "+data['topic'] +" "+data['ageSong']+" "+ data['genre']
data.pop('artist_name')
data.pop('lyrics')
data.pop('topic')
data.pop('ageSong')

0             old
1             old
2             old
3             old
4             old
           ...
28367    somewhat
28368    somewhat
28369    somewhat
28370    somewhat
28371    somewhat
Name: ageSong, Length: 23689, dtype: object

In [ ]:
data.pop('genre')
data.head()

             track_name                                               tags
0  mohabbat bhi jhoothi  mukesh hold time feel break feel untrue convin...
1             i believe  frankielaine believe drop rain fall grow belie...
2                   cry  johnnieray sweetheart send letter goodbye secr...
3              patricia  pérezprado kiss lips want stroll charm mambo c...
4    apopse eida oneiro  giorgospapadopoulos till darling till matter k...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
ctvectorizer = CountVectorizer(max_features=10000)
X = ctvectorizer.fit_transform(data['tags'])
vectors =X.toarray()

In [ ]:
vectors.shape

(23689, 10000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sim =cosine_similarity(vectors)

In [ ]:
cos_sim

array([[1.        , 0.02200298, 0.23231138, ..., 0.07079677, 0.08727411,
        0.08600261],
       [0.02200298, 1.        , 0.02503915, ..., 0.03656362, 0.03933686,
        0.01066004],
       [0.23231138, 0.02503915, 1.        , ..., 0.06042446, 0.01354322,
        0.02936101],
       ...,
       [0.07079677, 0.03656362, 0.06042446, ..., 1.        , 0.0791064 ,
        0.12862394],
       [0.08727411, 0.03933686, 0.01354322, ..., 0.0791064 , 1.        ,
        0.09225312],
       [0.08600261, 0.01066004, 0.02936101, ..., 0.12862394, 0.09225312,
        1.        ]])

In [ ]:
def rec(songName) :
    song_ind = data[data['track_name'] == songName].index[0]
    index_relative = list(enumerate(cos_sim[song_ind]))
    index_relative.sort(reverse=True,key = lambda x : x[1])
    rec_songi = index_relative[1:6]
    final_songs=[]
    for x in rec_songi :
        final_songs.append(data.iloc[x[0]].track_name)
    return ", ".join(final_songs)

In [ ]:
rec('lovely')

NameError: name 'rec' is not defined